@font-face {
  font-family: 'MyCustomFont';
  font-style: normal;
  font-weight: 400;
  src: url('assets/game-car-question/font/VT323-Regular.ttf');
}

.game-car-container {}

.game-carquiz-btn-controls {
  cursor: pointer;
  background-image: url(assets/game-car-question/img/Controls/Buttons-Control.png);
  background-size: contain;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
}

.game-carquiz-btn-menu {
  cursor: pointer;
  background-image: url(assets/game-car-question/img/Controls/Buttons-Menu.png);
  background-size: contain;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
}

.game-carquiz-title {
  padding: 12px 16px;
  color: #eee;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(to bottom, #78aca8, #356768);
  font-family: "MyCustomFont";
  font-size: 5rem;
  box-shadow: 0 4px 6px rgb(0 0 0 / 46%);
  border-bottom: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  border-radius: 10px;
  z-index: 20;
}
.game-carquiz-btn-startgame, .game-carquiz-btn-initgame {
  padding: 12px 24px;
  font-size: 2rem;
  color: #eee;
  background: linear-gradient(to bottom, #78aca8, #356768);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgb(0 0 0 / 46%);
  border-bottom: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  font-family: "MyCustomFont", sans-serif;
}

.game-carquiz-btn-startgame:is(:hover, :focus, :active) {
  outline-offset: 2px;
  box-shadow: 0 6px 8px rgb(0 0 0 / 46%);
  background: linear-gradient(to bottom, #6da0a1, #275552);
  transform: scale(1.9);
}

.game-carquiz-btn-config {
    border-radius: 10px;
    cursor: pointer;
    background-image: url(assets/game-car-question/img/Controls/Buttons-Config.png);
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    }


.game-carquiz-cordeon {
    height: 100px;
    width: 275px;
    position: absolute;
    border-left: #3a1912 solid 5px;
    border-right: #3a1912 solid 5px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 46%);
}

.game-carquiz-cordeonBtn {
    height: 128px;
    width: 176px;
    position: absolute;
    border-left: #3a1912 solid 5px;
    border-right: #3a1912 solid 5px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 46%);
}

.game-carquiz-cordeonInfo {
    height: 50px;
    width: 275px;
    position: absolute;
    border-left: #3a1912 solid 5px;
    border-right: #3a1912 solid 5px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 46%);
}	

.game-carquiz-cordeonconfig {
    height: 82px;
    width: 26px;
    position: absolute;
    border-left: #3a1912 solid 5px;
    border-right: #3a1912 solid 5px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 46%);
}

.game-carquiz-paragrah {
    padding: 12px 0px;
    color: #eee;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
      -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    margin: 0 auto;
    background: linear-gradient(to bottom, #78aca8, #356768);
    font-family: "MyCustomFont";
    font-size: 1.2rem;
    box-shadow: 0 4px 6px rgb(0 0 0 / 46%);
    border-bottom: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    border-radius: 10px;
    max-width: 80%;
}

.game-carquiz-paragrah2 {
  padding: 12px 0px;
  color: #eee;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(to bottom, #78aca8, #356768);
  font-family: "MyCustomFont";
  font-size: 1.2rem;
  box-shadow: 0 4px 6px rgb(0 0 0 / 46%);
  border-bottom: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  border-radius: 10px;
  max-width: 50%;
}

.game-carquiz-cordeonInfo2 {
    height: 64px;
    width: 100px;
    position: absolute;
    border-left: #3a1912 solid 5px;
    border-right: #3a1912 solid 5px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 46%);
}

.game-carquiz-cordeonend {
  height: 220px;
  width: 275px;
  position: absolute;
  border-left: #3a1912 solid 5px;
  border-right: #3a1912 solid 5px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 46%);
}

.game-carquiz-cordeonend2 {
  height: 50px;
  width: 275px;
  position: absolute;
  border-left: #3a1912 solid 5px;
  border-right: #3a1912 solid 5px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 46%);
}

/* modal configuraciones */

.game-carquiz-config-game {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #272727c2;
  width: 80%;
  max-width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  animation: fadeIn 0.3s ease-out forwards;
}

.game-carquiz-title-modal{  
  color: #eee;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  font-family: "MyCustomFont";
  font-size: 2.5rem;
}

.game-carquiz-modal-bg {
width: 600px;
height: 400px;
background: linear-gradient(to bottom, #78aca8, #356768);
box-shadow: 0 4px 6px rgb(0 0 0 / 46%);
border-bottom: 1px solid #d6d6d6;
border-left: 1px solid #d6d6d6;
border-right: 1px solid #d6d6d6;
border-radius: 10px;
}

.game-carquiz-btn-close-modal {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  background-image: url(assets/game-car-question/img/Controls/Buttons-pressed-x.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}


.game-carquiz-btn-config-audio {
  cursor: pointer;
  background-image: url(assets/game-car-question/img/Controls/Buttons-pressed-som.png);
  background-size: contain;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
}

.game-carquiz-audio-text {
  font-family: "MyCustomFont";
  font-size: 1.5rem;
  color: #eee;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;

}